html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  min-height: 150vh;
}

.unblur {
  animation-name: unblur;
  animation-duration: 0.5s;
  animation-play-state: forwards;
}

@keyframes unblur {
  from {
    filter: blur(100px);
  }
  to {
    filter: blur(0px);
  }
}
